.child-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $grey;
  margin-top: 20px;

  .profile-pic {
    width: 180px;
    height: 180px;
    font-size: 160px;
    text-align: center;
    border-radius: 20px;
    color: $white;
    background-color: $orange;
  }

  .child-details {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 25px;
    }
  }

  h3 {
    font-size: 25px;
    margin: 10px 0;
  }

  table {
    font-size: 24px;
    border-collapse: collapse;
    width: 85%;
    
    th, td {
      text-align: center;
      padding: 5px;
      border-bottom: 1px solid $lightgrey;
    }

    .first-col {
      text-align: left;
    }

    .changes-row > td {
      border: none;
    }

    .contents-row > td {
      font-size: 15px;
      padding: 5px 0;
      white-space: nowrap;
    }
  }

  ul {
    display: flex;
    list-style: none;
    color: $lightgrey;
    font-size: 25px;

    li {
      width: 120px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-radius: 10px;
      background-color: $blue;
      color: $white;
      font-size: 30px;
      font-weight: 400;
      margin: 5px;
    }
  }

  a {
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    color: $white;
    background-color: $orange;
    width: 380px;
    height: 60px;
    border-radius: 10px;
    line-height: 60px;
    text-align: center;
    margin: 10px 0;
  }
}