.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 80vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-header {
      font-size: 27px;
      padding: 7px 0;
      display: flex;
      text-align: center;
    }
    .time-header {
      font-size: 20px;
      margin: 15px;
      display: flex;
      align-items: center;
      width: 90%;

      span {
        padding-left: 10px;
        width: 40px;
      }

      div {
        width: calc(100% - 40px);
      }
    }

    .form-options {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      color: $orange;
      
      button {
        height: 50px;
        margin: 5px;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: $blue;
        color: $white;
        font-size: 25px;
      }

      .selected {
        background-color: $orange;
      }
    }

    .dropdown {
      height: 30px;
      font-size: 25px;
      width: 300px;
      background-color: #ffffff;
      text-align: center;
      border-radius: 10px;

      ul {
        display: none;
        position: absolute;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid $blue;
        border-radius: 10px;
        width: 300px;

        li {
          height: 30px;
        }
      }

      .displayed {
        display: block;
      }
    }


    textarea {
      width: 80%;
      padding: 5px;
      font-size: 20px;
      border-radius: 10px;
    }


    input {
      height: 30px;
      font-size: 16px;
      margin-left: 10px;
      width: 70%;
      border-radius: 10px;
    }

    .submit-button {
      margin: 5px;
      margin-bottom: 20px;
      width: 80%;
      height: 50px;
      border-radius: 10px;
      background-color: $orange;
      color: $blue;
      font-size: 40px;
    }

    .modal-h1 {
      font-size: 30px;
      color: $blue;
      padding-top: 10px;
      text-align: center;
    }

    .delete-button {
      margin: 10px 0;
      font-size: 30px;
      height: 50px;
      width: 200px;
      border-radius: 10px;
      border-color: $orange;
      background-color: $orange;
      color: $blue;

      span {
        color: $white;
        padding-left: 10px;
      }
    }
  }

  .hidden {
    max-height: 0;
    transition-property: max-height;
    transition-duration: 0.4s;
    overflow: hidden;
  }

  .displayed {
    max-height: 240px;
    transition-property: max-height;
    transition-duration: 0.4s;
    overflow: hidden;
  }
}