.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    background-color: $white;
    width: 80vw;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-header {
      font-size: 25px;
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
    .time-header {
      font-size: 20px;
      padding: 15px 0;
      display: flex;
      align-items: center;
    }

    .form-options {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      color: $orange;
      
      button {
        height: 50px;
        margin: 5px;
        border-radius: 10px;
        background-color: $blue;
        color: $white;
        font-size: 25px;
      }

      .selected {
        background-color: $orange;
      }
    }

    .dropdown {
      height: 30px;
      font-size: 25px;
      width: 300px;
      background-color: #ffffff;
      text-align: center;

      ul {
        display: none;
        position: absolute;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid $blue;
        border-radius: 10px;
        width: 300px;

        li {
          height: 30px;
        }
      }

      .displayed {
        display: block;
      }
    }


    textarea {
      width: 80%;
      padding: 5px;
      font-size: 20px;
    }

    input {
      height: 20px;
      font-size: 14px;
      margin-left: 10px;
      width: 215px;
    }

    .submit-button {
      margin: 5px;
      margin-bottom: 20px;
      // width: 80%;
      height: 50px;
      border-radius: 10px;
      background-color: $orange;
      color: $blue;
      font-size: 40px;
    }
  }
}