.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: $blue;
  color: $orange;

  .leftbar {
    a {
      color: $orange;
      cursor: pointer;
    }
  }
  
  .center {
    color: $white;
    font-family: 'Patrick Hand', cursive;
    font-weight: 200;
    font-size: 40px;
  }

  .rightbar {
    svg {
      height: 69px;
    }

    ul {
      display: none;
      padding: 0;
      margin: 0;
      list-style: none;
      color: $white;
      background-color: $blue;

      li {
        font-size: 25px;
        color: $white;
        padding-left: 10px;
      }
    }
  }

  .rightbar:hover > ul {
    display: block;
    position: absolute;
    right: 0px;
    z-index: 1000;
  }
}